
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.custom-popup .leaflet-popup-content-wrapper {
    width: 350px;  /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
  }
  
  .custom-popup .leaflet-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  